* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #515453;
  color: white;
  min-height: 100vh;
}

/* Layout */
.container {
  display: flex;
  gap: 24px;
  padding: 32px 20px;
  max-width: 960px;
  margin: 0 auto;
  
}

/* Sidebar */
.sidebar {
  width: 180px;
  background: rgba(0,0,0,0.3);
  border-radius: 12px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #778ae0;
  color: #1a1a1a;
  font-size: 0.85rem;
  cursor: pointer;
}

.sidebar button:hover {
  background: #dbd6c8;
}

/* Game board */
#gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 14px;
  margin-top: 20px;
}

/* Cards */
.card {
  width: 100px;
  height: 100px;
  cursor: pointer;
  perspective: 600px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

/* Front + Back */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* Front */
.card-front {
  background: #778ae0;
}

/* Back */
.card-back {
  background: #fdf6e3;
  transform: rotateY(180deg);
  overflow: hidden;
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.win-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 30px 40px;
  font-size: 2rem;
  border-radius:12px;
  text-align: center;
  z-index: 999;
  box-shadow: 0 0 20px #778ae0;
}

/* How to Play button */
.how-btn {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
  color: #1a1a1a;
  cursor: pointer;
}

.how-btn:hover {
  background: #ddd;
}

/* Modal background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hidden class */
.hidden {
  display: none;
}

/* Modal box */
.modal-content {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.modal-content button {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background: #778ae0;
  border-radius: 6px;
  cursor: pointer;
}